<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>esse é meu sistema web</h1>
    <div>
        <form action="/fazerlogin" method="post">
            <input type="text" name="loginusuario" placeholder="digite seu login">
            <br>
            <input type="password" name="senhausuario" placeholder="digite sua senha">
            <br>
            <button type="submit" >Fazer login</button>
        </form>
        <p>{{texto}}</p>
    </div>
</body>
</html>